{% extends "base.j2" %}

{% block app_content %}

<a href="{{ url_for('idea.add_idea') }}">Click here to add a new idea</a>

<h1>Idea's that aren't done</h1>
<table class='table'>
<thead>
    <tr>
        <th scope='col'>Title</th>
        <th scope='col'>Description</th>
        <th scope='col'>Category</th>
        <th scope='col'>Done?</th>
    </tr>
</thead>
<tbody>
    {% for idea in ideas %}
        <tr>
            <td><a href="{{ url_for('idea.idea', idea_id=idea.id) }}">{{ idea.name }}</a></td>
            <td>{{ idea.desc }}</td>
            <td>{{ idea.category|title }}</td>
            <td><a href="{{ url_for('idea.toggledone', idea_id=idea.id) }}">Finished!</a></td>
        </tr>
    {% endfor %}
</tbody>
</table>

<h1>Idea's that are done</h1>
<p>
<table class='table'>
<thead>
    <tr>
        <th scope='col'>Title</th>
        <th scope='col'>Description</th>
        <th scope='col'>Category</th>
        <th scope='col'>Not done?</th>
    </tr>
</thead>
<tbody>
    {% for idea in ideas_done %}
        <tr>
            <td><a href="{{ url_for('idea.idea', idea_id=idea.id) }}">{{ idea.name }}</a></td>
            <td>{{ idea.desc }}</td>
            <td>{{ idea.category|title }}</td>
            <td><a href="{{ url_for('idea.toggledone', idea_id=idea.id) }}">Pls put it back</a></td>
        </tr>
    {% endfor %}
</tbody>
</table>
</p>

{% endblock app_content %}