{% extends "base.j2" %}

{% block app_content %}
    <h1>Idea!</h1>
    <h2>{{ idea }}</h2>
    <ul>
    {% for category in categories %}
        <li><a class="btn btn-default" href="{{ url_for('idea.random_from_category', category=category) }}">Filter by {{category|title}}</a></li>
    {% endfor %}
    </ul>
    <p><a href="{{ url_for('idea.ideas') }}" class="btn btn-default">Idea Manager</a></p>
{% endblock %}